---
import { db, Customers, Items, Invoices } from "astro:db";
import Layout from "../layouts/Layout.astro";
import Customer from "../components/forms/Customer";
import Item from "../components/forms/Item";
import Invoice from "../components/forms/Invoice";

const customers = await db.select().from(Customers);
const items = await db.select().from(Items);
const invoices = await db.select().from(Invoices);
---

<Layout title="Welcome to Astro.">
  <main class="grid grid-cols-2">
    <div class="flex flex-col gap-3">
      <div class="p-5">
        <Invoice client:only="react" />
        <p class="text-center font-semibold">
          Total Invoices: {invoices.length}
        </p>
      </div>
      <div class="divider divider-primary"></div>
      <div class="p-5">
        <Customer client:only="react" />
        <p class="text-center font-semibold">
          Total Customers: {customers.length}
        </p>
      </div>
      <div class="divider divider-primary"></div>
      <div class="p-5">
        <Item client:only="react" />
        <p class="text-center font-semibold">Total Items: {items.length}</p>
      </div>
    </div>

    <div class="p-5">
      {
        customers.map((customer) => (
          <div>
            <ul>
              <li class="mb-6">
                <h1 class="font-bold">{customer.name}</h1>
                <p>{customer.id}</p>
                <p>{customer.address}</p>
                <p>{customer.email}</p>
                <p>{customer.phone}</p>
                <p>{customer.createdAt}</p>
              </li>
            </ul>
          </div>
        ))
      }
      <div class="divider divider-neutral"></div>

      {
        invoices.map((invoice) => (
          <div>
            <ul>
              <li class="mb-6">
                <h1 class="font-bold">
                  {invoice.id} -{" "}
                  <span class="font-normal">{invoice.number}</span>
                </h1>
                <p>{invoice.url}</p>
                <p>{invoice.customer}</p>

                <ul>
                  {invoice.invItems.map((item) => (
                    <li>
                      ${item.price} - {item.name}
                    </li>
                  ))}
                </ul>
                <p>{invoice.date}</p>
                <p>Due: {invoice.dueDate}</p>
                <p>${invoice.total.toFixed(2)}</p>
              </li>
            </ul>
          </div>
        ))
      }
      <div class="divider divider-neutral"></div>
      {
        items.map((item) => (
          <div>
            <ul>
              <li class="mb-6">
                <h1 class="font-bold">{item.name}</h1>
                <p>{item.id}</p>
                <p>{item.desc}</p>
                <p>${item.price.toFixed(2)}</p>
                <p>{item.sku}</p>
              </li>
            </ul>
          </div>
        ))
      }
    </div>
  </main>
</Layout>
